html {
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	font-family: Inter;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0;
	box-sizing: border-box;
	overflow-y: hidden;
}

h1, h2, h3 {
	margin: 0;
}

/* timeline */
#entry_timeline {
	width: calc(100% - 10px);
	box-sizing: border-box;
	height: 300px;
	min-height: 300px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#timeline {
	height: 100%;
	position: relative;
}

.timeline_text {
	font-weight: bold;
	padding: 0 10px 0 0;
}

.vertical-line, .time_line {
	position: absolute;
	bottom: 15%;
	border-left: 4px solid #89b4fa;  /* Farba a hrúbka */
    height: 150px;                   /* Dĺžka čiary */
    width: 0;                        /* Žiadna šírka */
    display: inline-block;
    z-index: 1;
}


#main_line {
	display: inline-block;
	width: 95%;
	position: absolute;
	left: 2.5%;
	bottom: 15%;
	border-top: 7px solid black;
	border-radius: 10px;
	vertical-align: bottom;
	z-index: 100;
}

#main_line:hover {
	border-color: #cccccc;
}

.vertical-line:hover {
	border-color: red !important;
}


/* line fill */
.line_fill {
	position: absolute;
	bottom: 15%;
	left: 10.5%;
	height: 150px;

	background-image: linear-gradient(
        to right,
        rgba(137, 180, 250, 0.1),
        rgba(137, 180, 250, 0.4) 50%,
        rgba(137, 180, 250, 0.1)
    );
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}



.line_fill:hover {
	background-color: rgba(137, 180, 250, 0.2);
	z-index: 3;
}

.event_cont {
    z-index: 1;
}

/* Pri hover na celý event_cont, všetko v ňom ide navrch */
.event_cont:hover {
    z-index: 10;
}

.event_cont:hover .main_timestamp {
    z-index: 11;
    
}


.event_cont:hover .time_stamp {

    background-color: #313244;
    padding: 2px 5px;
    color: #cdd6f4;
    border-radius: 4px;

}

.event_cont:hover .vertical-line {
    z-index: 5;
}



.line_fill .event_input {
	width: 70%;
	font-size: 20px;
	border: 2px solid #89b4fa;
	padding: 5px 10px;
	border-radius: 5px;
	box-sizing: border-box;
	pointer-events: none;
	transition: background-color 0.3s ease-in-out;
}

/* timestampy */
.main_timestamp {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: fit-content;
	bottom: 5%;
	transform: translateX(-50%)
}

.time_stamp {
	display: flex;
	margin-top: 5px;
	padding: 2px 5px;
	box-sizing: border-box;
	background-color: white;
	position: relative; 
	user-select: none;
	z-index: 1;
}

.time_line {
	position: relative;
	display: flex;
	height: 20px;
	border-radius: 10px;
	border-color: black;
}


/* timeline tools */
.timeline_tools {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-left: 10px;
}

#delete_events, #clear_timeline {
	display: flex;
    align-items: center;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #313244;
    color: #cdd6f4;
}


#delete_events .icon, #clear_timeline .icon {
	height: 21px;
}

	
#delete_events:not(.clicked):hover {
	background-color: #cdd6f4;
	color: #1a1b2f;
}

#delete_events.clicked {
	background: #cdd6f4;
    color: #1a1b2f;
    outline: 2px solid #313244;
}

#clear_timeline {
	background: #ff3333;
    color: #1a1b2f;
}

#clear_timeline:hover {
	background: #ff9999; 
	color: black;
}